body {
    margin: 0;
    background: #0d0d0d;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 120px;
    font-size: 60px;
    color: gold;
}

p {
    font-size: 22px;
    color: #dddddd;
}
