*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#050505;
color:white;
}


header{
padding:20px 8%;
position:fixed;
width:100%;
background:#050505dd;
z-index:10;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

nav h2{
color:#d4af37;
}


ul{
display:flex;
gap:25px;
list-style:none;
}

a{
color:white;
text-decoration:none;
}


.hero{
height:100vh;
background:
linear-gradient(#0008,#0008),
url("hero.jpg");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;
text-align:center;
}


.hero h1{
font-size:70px;
color:#d4af37;
}


.hero p{
font-size:25px;
margin:20px;
}


.btn{
background:#d4af37;
color:black;
padding:15px 35px;
border-radius:30px;
}


section{
padding:100px 10%;
text-align:center;
}


section h2{
color:#d4af37;
font-size:40px;
margin-bottom:30px;
}


.card{
background:#111;
border:1px solid #d4af37;
padding:30px;
margin:20px;
border-radius:15px;
}


.gallery{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}


.gallery img{
width:300px;
height:300px;
object-fit:cover;
border-radius:15px;
}


footer{
padding:30px;
text-align:center;
background:#111;
}


@media(max-width:700px){

.hero h1{
font-size:45px;
}

nav ul{
display:none;
}

}
